In [1]:
#!/usr/bin/env python
def df2sqlite(dataframe, db_name = "temp-movie-machin.db", tbl_name = "ratings"):

 import sqlite3
 conn=sqlite3.connect(db_name)
 cur = conn.cursor()

 wildcards = ','.join(['?'] * len(dataframe.columns))
 data = [tuple(x) for x in dataframe.values]

 cur.execute("drop table if exists %s" % tbl_name)

 col_str = '"' + '","'.join(dataframe.columns) + '"'
 cur.execute("create table %s (%s)" % (tbl_name, col_str))

 cur.executemany("insert into %s values(%s)" % (tbl_name, wildcards), data)

 conn.commit()
 conn.close()

In [5]:
# Load the Pandas libraries with alias 'pd' 
import pandas as pd 
# Read data from file 'filename.csv' 
# (in the same directory that your python process is based)
# Control delimiters, rows, column names with read_csv (see later) 
data = pd.read_csv("ratings_small.csv") 
# Preview the first 5 lines of the loaded data 
data.head()

   userId  movieId  rating   timestamp
0  156936      110     5.0  1204320027
1  249704      110     4.5  1455809395
2   11404      110     5.0  1043533306
3   73880      110     4.0  1215768611
4  252505      110     4.0  1212967025

In [6]:
df2sqlite(data)