In [1]:
import numpy as np
import pandas as pd

In [66]:
df = pd.read_csv("movies.gz")

,budget,id,popularity,revenue,runtime,spoken_languages,vote_average,vote_count,weighted_rating,cast_size,crew_size,revenue_divide_budget
count,9.053000e+03,46624.000000,46624.000000,7.537000e+03,46360.000000,46624.000000,46624.000000,46624.000000,46624.000000,46624.000000,46624.000000,5.458000e+03
mean,2.144505e+07,109673.134287,2.894411,6.821719e+07,94.086885,1.169955,5.611728,108.169719,5.542819,12.313615,10.152089,5.487417e+03
std,3.415291e+07,112909.183875,5.950483,1.458936e+08,38.454015,0.751369,1.932157,486.429314,0.544139,12.018949,15.714359,2.153222e+05
min,1.000000e+00,2.000000,0.000000,1.000000e+00,0.000000,0.000000,0.000000,0.000000,1.915222,0.000000,0.000000,5.217391e-07
25%,2.000000e+06,26757.250000,0.382721,2.300000e+06,85.000000,1.000000,5.000000,3.000000,5.213571,6.000000,2.000000,7.858306e-01
50%,8.000000e+06,61293.500000,1.115187,1.662719e+07,95.000000,1.000000,6.000000,10.000000,5.400402,10.000000,6.000000,2.047226e+00
75%,2.500000e+07,159616.750000,3.610563,6.613263e+07,107.000000,1.000000,6.800000,34.000000,5.726711,15.000000,12.000000,4.253283e+00
max,3.800000e+08,469172.000000,547.488298,2.787965e+09,1256.000000,19.000000,10.000000,14075.000000,8.911373,313.000000,435.000000,1.239638e+07

In [7]:
df["release_date"].head()

0    1995-10-30
1    1995-12-15
2    1995-12-22
3    1995-12-22
4    1995-02-10
Name: release_date, dtype: object

In [59]:
split = []
years = []
months = []
days = []

for i in range(len(df["release_date"])):
    try:
        split.append(df["release_date"][i].split("-"))
        years.append(split[i][0])
        months.append(split[i][1])
        days.append(split[i][2])
        
    except AttributeError:
        split.append(np.nan)
        years.append(np.nan)
        months.append(np.nan)
        days.append(np.nan)

In [65]:
print(len(split), len(years), len(months), len(days))

46624 46624 46624 46624

In [56]:
years[1]

['1995', '12', '15']

In [68]:
se_year = pd.Series(years)
se_month = pd.Series(months)
se_day = pd.Series(days)

df["release_year"] = se_year.values
df["release_month"] = se_month.values
df["release_day"] = se_day.values

In [ ]:
del df["release_date"]
df.to_csv("movie_metadata_flatdate.csv")